<div class="mt-4 h3">THÊM KHÓA HỌC</div>

<div class="mt-4">
  <form method="POST" action="/courses/store">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Course name</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name="description" />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Video ID</label>
      <input type="text" class="form-control" id="videoID" name="videoID" />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Level</label>
      <input type="text" class="form-control" id="level" name="level" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>