<div class="mt-2">
  <form method="post" action="/search">

    <div class="mb-3">
      <label for="search-input">Nhập từ khóa</label>
      <input
        type="text"
        name="q"
        id="search-input"
        class="form-control"
        placeholder="thanh ba trum html"
      />
    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>

  </form>
</div>